openapi: 3.1.0
info:
  title: Vensis Selection Suite - Erman Draft API
  version: 1.2.0
  description: Fan selection and non-binding quotation drafting with a separate, payload-bound approval gate. Approval endpoints never execute an action; only the dedicated project-write endpoint can consume an approved one-use grant.
servers:
  - url: https://select.vensis.com.tr/api/agent
security:
  - bearerAuth: []
paths:
  /select.php:
    post:
      operationId: selectFans
      summary: Select verified fan candidates and return short-lived signed selection tokens.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SelectionRequest'
      responses:
        '200':
          description: Ranked, verified candidates with review-required accessory suggestions.
        '401': {description: Invalid API identity.}
        '403': {description: Scope or transport denied.}
        '422': {description: Invalid selection request.}
        '429': {description: Rate limit exceeded.}
  /quote-draft.php:
    post:
      operationId: createQuotationDraft
      summary: Build a non-binding quotation draft from signed fan selections and server catalog prices.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuotationDraftRequest'
      responses:
        '201':
          description: Draft created in memory and returned; nothing is saved or sent.
        '401': {description: Invalid API identity.}
        '403': {description: Scope or discount ceiling denied.}
        '409': {description: Catalog, price or engineering-review conflict.}
        '422': {description: Invalid or expired selection token.}
        '429': {description: Rate limit exceeded.}
  /approval-request.php:
    post:
      operationId: requestPrivilegedActionApproval
      summary: Ask for approval of one exact project, customer, order, quotation-send or quotation-publish action without executing it.
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ApprovalRequest'}
      responses:
        '202': {description: Pending approval request recorded; no action executed.}
        '401': {description: Invalid API identity.}
        '403': {description: Request scope denied.}
        '422': {description: Unsupported action or invalid request.}
  /approval-status.php:
    post:
      operationId: getApprovalStatus
      summary: Read an approval request; approved requests return a short-lived, one-use, payload-bound grant.
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ApprovalStatusRequest'}
      responses:
        '200': {description: Current status and, when eligible, an approval grant. No action executed.}
        '404': {description: Request not found or not visible to this identity.}
  /approval-review.php:
    post:
      operationId: reviewPrivilegedActionApproval
      summary: Approve or reject a request using a separate reviewer identity; no action is executed.
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ApprovalReviewRequest'}
      responses:
        '200': {description: Decision recorded; no action executed.}
        '403': {description: Review scope denied or self-approval attempted.}
        '409': {description: Request expired or already reviewed.}
  /project-write.php:
    post:
      operationId: executeApprovedProjectWrite
      summary: Save the exact approved project by consuming its short-lived, one-use grant.
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ApprovedProjectWriteRequest'}
      responses:
        '201': {description: Exact approved project stored and grant consumed.}
        '403': {description: Scope denied, grant mismatch, order data present, or non-zero discount present.}
        '409': {description: Grant already used or no longer valid.}
        '422': {description: Invalid project or approval grant.}
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: identity.secret
  schemas:
    SelectionRequest:
      type: object
      additionalProperties: false
      required: [airflowM3h, pressurePa]
      properties:
        airflowM3h: {type: number, exclusiveMinimum: 0}
        pressurePa: {type: number, exclusiveMinimum: 0}
        tolerance:
          type: object
          additionalProperties: false
          properties:
            airflowMinPercent: {type: number, default: -10}
            airflowMaxPercent: {type: number, default: 20}
            pressureMinPercent: {type: number, default: -10}
            pressureMaxPercent: {type: number, default: 20}
        filters:
          type: object
          additionalProperties: false
          properties:
            manufacturers: {type: array, items: {type: string}}
            categories: {type: array, items: {type: string}}
            series: {type: array, items: {type: string}}
        limit: {type: integer, minimum: 1, maximum: 25, default: 10}
    QuotationDraftRequest:
      type: object
      additionalProperties: false
      required: [lines]
      properties:
        project:
          type: object
          properties:
            name: {type: string}
            reference: {type: string}
            contact: {type: string}
        customer:
          type: object
          properties:
            name: {type: string}
            contact: {type: string}
            email: {type: string}
        notes: {type: string}
        lines:
          type: array
          minItems: 1
          maxItems: 50
          items:
            type: object
            additionalProperties: false
            required: [selectionToken]
            properties:
              selectionToken: {type: string}
              quantity: {type: integer, minimum: 1, default: 1}
              discountPercent: {type: number, minimum: 0, default: 0}
              accessories:
                type: array
                maxItems: 20
                items:
                  type: object
                  additionalProperties: false
                  required: [id]
                  properties:
                    id: {type: string}
                    quantity: {type: integer, minimum: 1}
    ApprovalRequest:
      type: object
      additionalProperties: false
      required: [action, summary, reason, payload]
      properties:
        action:
          type: string
          enum: [project.write, customer.write, order.write, quotation.send, quotation.publish]
        summary: {type: string, maxLength: 500}
        reason: {type: string, maxLength: 2000}
        payload:
          type: object
          description: Exact proposed operation; the approval grant is bound to its canonical SHA-256 hash.
        idempotencyKey: {type: string, maxLength: 160}
    ApprovalStatusRequest:
      type: object
      additionalProperties: false
      required: [requestId]
      properties:
        requestId: {type: string}
    ApprovalReviewRequest:
      type: object
      additionalProperties: false
      required: [requestId, decision]
      properties:
        requestId: {type: string}
        decision: {type: string, enum: [approved, rejected]}
        note: {type: string, maxLength: 2000}
    ApprovedProjectWriteRequest:
      type: object
      additionalProperties: false
      required: [approvalGrant, payload]
      properties:
        approvalGrant:
          type: string
          description: Short-lived one-use grant returned only after a separate reviewer approved the request.
        payload:
          type: object
          required: [project]
          description: Must be equivalent after canonicalization to the payload approved earlier.
          properties:
            project: {type: object}
